.profile {
    display: block;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 2em;
}

.social {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social img {
    filter: grayscale(100%);
    height: 80px;
    padding: 10px;
    object-fit: cover;
    transition: filter 0.5s;
}

.github img {
    opacity: .5;
}

.github img:hover {
    opacity: 1;
}

.social img:hover {
    filter: grayscale(0%);
}

.social p {
    text-align: center;
    margin: 0px;
}

.fa-css3 {
    color: #f783ac;
}

.fa-html5 {
    color: #4c6ef5;
}

.fa-js {
    color: #82c91e;
}

.icons-wrapper {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


.fa-plane-departure {
    color:#fd7e14;
}

.fa-camera {
    color: #be4bdb;
}

.fa-snowboarding {
    color: #15aabf;
}

.fas {
    font-size: 2em;
    text-align: center;
}

.fab{
    font-size: 2em;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media only screen and (min-width: 800px) {
    .fas {
        font-size: 3em;
    }
    .fab {
        font-size: 3em;
    }
}
