.fa-at {
    color:#317fb3;
    font-size: 2em;
}

.contact {
    list-style-type: none;
}

.contact img {
    height: 70px;
    padding:20px;
}

.contact a {
    display: block;
}
h1 {
    text-align: center;
}

p {
    margin: 20px;
}